<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Application</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>HTML and Spring Boot Integration</h1>
    <form action = "register" method = "post">
        

        <label for="firstname">First Name:</label>
        <input type="text" name="fname"><br><br>

        <label for="lastname">Last Name:</label>
        <input type="text" name="lname"><br><br>

        <label for="email">Email:</label>
        <input type="email" name="email"><br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>