spring:
  application:
    name: product-category
  datasource:
    url: jdbc:mysql://localhost:3306/items_db?createDatabaseIfNotExist=true
    username: root
    password: root
  
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect
  session:
    store-type: none
  flyway:
    enabled: true
    repair: true

server:
  port: 8081

