<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidentified User Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>  
<body>
    <h1>User Unidentified!</h1>
    <p>The details that you have entered is either incorrect or the user does not exist. </p>
    <br>
    <p>Kindly login using the correct details or make a new account!</p>
    <br><br>
    <a href = "/">Press Here to go back </a>
</body>


